.disabled {
    opacity: 0.5;
}

.input-block,
.input-inline {
    display: flex;
    gap: 5px;
    margin-block-start: 10px;
}

.input-block {
    flex-direction: column;
}

.input-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.validation-form-title {
    margin-block-start: 0;
    font-weight: 600;
}

.check-form {
    padding: 10px;
    border: lightgray 1px solid;
    border-radius: 2%;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px #dedede;
}

.validation-error {
    color: red;
    font-size: x-small;
}

.errors {
    display: block;
}

.married-label {
    display: block;
    margin-block-start: 10px;
}

.btn-section {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#submit-form-btn,
#reset-form-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#submit-form-btn {
    background-color: #4CAF50;
}

#reset-form-btn {
    background-color: grey;
}

.radio-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.success-msg {
    color: #4CAF50;
}