.input-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.input-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
